@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  textarea {
    @apply bg-neutral-800;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
  }
}

.bg-gradient {
  @apply bg-gradient-radial from-neutral-900 to-neutral-800 shadow;
}

.bg-gradient-dark {
  @apply bg-gradient-radial from-neutral-950 to-neutral-900 to-30% shadow;
}

.card-gradient {
  @apply bg-neutral-800;
}

.text-gradient {
  @apply bg-gradient-to-r from-zinc-50 to-zinc-100 bg-clip-text text-transparent;
  /* @apply bg-gradient-to-r from-emerald-100 from-10% to-emerald-600 bg-clip-text text-transparent */
  /* @apply bg-gradient-to-br from-emerald-600 to-cyan-500 to-95% bg-clip-text text-transparent; */
}
.input-field {
  @apply mb-1 rounded-md p-2 text-white focus:outline-none focus:ring-2 focus:ring-neutral-500;
}

.button {
  @apply rounded-lg font-semibold text-white shadow-md drop-shadow-lg focus:outline-none focus:ring-2;
}

.button:hover {
  @apply shadow-inner shadow-neutral-700;
}

.shadow {
  @apply shadow-md shadow-neutral-900;
}

.red-button {
  @apply bg-gradient-to-r from-red-600 to-orange-600;
}

.blue-button {
  @apply bg-gradient-to-r from-emerald-600 to-cyan-500 to-95%;
}

.grey-button {
  @apply bg-gradient-to-r from-neutral-600 to-neutral-500 to-95%;
}

.grid-item {
  @apply mb-2 grid grid-cols-1 gap-1 rounded-lg bg-neutral-800 p-2 text-white md:grid-cols-[3fr_4fr_5fr_100px];
}

.selected {
  @apply border-2 border-neutral-400;
}

.card {
  @apply rounded-lg shadow-lg;
}

@media (max-width: 768px) {
  .grid-header,
  .grid-item {
    display: flex;
    flex-direction: column;
    grid-template-columns: min-content 1fr;
  }

  .grid-header div {
    display: none;
  }

  .grid-item .input-field mx-2 {
    @apply p-1;
  }

  .grid-item button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    @apply p-2;
    grid-column: 1/3;
  }
}
